


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
   
    <link rel="icon" href="/static/images/logo.png" sizes="16x16">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    {% load static %}
    <link href="{% static 'admin/img/favicon.ico' %}" rel="icon">

    <!-- Google Web Fonts -->
    {% load static %}
    <link rel="preconnect" href="'https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet"> 
    
    <!-- Icon Font Stylesheet -->
  
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->

    {% load static %}
    
    <link href="{% static 'admin/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    {% load static %}
    <link href="{% static 'admin/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    {% load static %}
    <link href="{% static 'admin/css/bootstrap.min.css'  %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'admin/css/style.css' %}" rel="stylesheet">
    <title>Admin Page</title>  
    {% load static %}
    <link  href="{% static 'admin/css/bootstrap.min.css' %}" rel="stylesheet"/>  
  
</head>

<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div> 
        <!-- Spinner End


         Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="main_admin" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><img src="/static/images/lj.png"  width="220px" height="100px"> </h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="/static/images/yash.jpg" alt="" style="width: 50px; height: 50px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">Khalas Yash</h6>
                        <span>Admin</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="/main_admin" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <!-- <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Elements</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="button.html" class="dropdown-item">Buttons</a>
                            <a href="typography.html" class="dropdown-item">Typography</a>
                            <a href="element.html" class="dropdown-item">Other Elements</a>
                        </div>
                    </div> -->
                    <a href="/show_dep" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Department </a>
                     <a href="/showcourse" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Course</a> 
                    <a href="/showsem" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Semesters</a>
                    <a href="/showstu" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Students</a>
                    <a href="/subject_component" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Subject Type</a>
                   
                    <!-- <a href="/showmark" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Marks</a> -->
                    <!-- <a href="chart.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Charts</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Pages</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="signin.html" class="dropdown-item">Sign In</a>
                            <a href="signup.html" class="dropdown-item">Sign Up</a>
                            <a href="404.html" class="dropdown-item">404 Error</a>
                            <a href="blank.html" class="dropdown-item active">Blank Page</a>
                        </div>
                    </div>
                </div> -->  
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
                <a href="main_admin" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <form class="d-none d-md-flex ms-4">
                    <input class="form-control bg-dark border-0" type="search" placeholder="Search">
                </form>
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-envelope me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Message</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="/static/images/mita.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Mita send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="/static/images/kk1.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Khadija send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="/static/images/hh1.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Hardik send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all message</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-bell me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Notificatin</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Profile updated</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">New user added</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Password changed</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all notifications</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="/static/images/yash.jpg" alt="" style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex">Khalas Yash</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">My Profile</a>
                            <a href="#" class="dropdown-item">Settings</a>
                            <a href="/" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->


            <!-- Blank Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row vh-100 bg-secondary rounded align-items-center justify-content-center mx-0">
                     <div class="col-md-6 text-center">
                        <h3>Student Marks</h3>
                        {% include 'messages.html' %} 
                        <div class="table-responsive">
                    <table class="table table-striped table-bordered table-sm">  
                        <thead class="thead-dark">  
                        <tr>  
                            <th>Usrename</th>
                            <th>Email</th>
                            <th>Student ID</th>  
                            <th>Student Name</th> 
                            <th>Enrollment No.</th>
                            <th>Semester</th>
                            <th>Student Course</th> 
                            <th>Marks</th> 
                            <th>Student Department</th>  
                            <th>Actions</th>  
                        </tr>  
                        </thead>  
                        <tbody>  
                    {% for stu in students %}  
                        <tr>  
                            <td>{{ stu.sid.user.username}}</td>
                            <td>{{stu.sid.user.email}}</td>
                            <td>{{ stu.sid }}</td>  
                            <td>{{ stu.sid.sname }}</td>
                            <td>{{ stu.sid.enrollment }}</td>
                            <td>{{ stu.sid.sem_id.sem_name }}</td>
                           
                            <td>{{ stu.sid.cid.name }}</td>  
                            <td>{{ stu.marks }}</td>
                            <td>{{ stu.sid.cid.did.name }}</td>  
                          
                            <td>  
                                <a href="/editstu/{{ stu.sid }}"><span class="glyphicon glyphicon-pencil" >Update</span></a>  
                                <a href="/delete_mark/{{ stu.m_id }}"><span class="glyphicon glyphicon-trash" >Delete</span></a>  
                            </td>  
                        </tr>  
                    {% endfor %}  
                        </tbody>  
                    </table>
                                                         
                    <br>  
                    <br>  
                    <center><a href="/addmark" class="btn btn-primary">Add New Record</a></center>  
                    <div class="pagination">
                        {% if students.has_previous %}
                            <li><a href="?page={{ students.previous_page_number }}">Previous </a></li>
                        {% endif %}
                        {% for pg in students.paginator.page_range %}
                        {% if students.number == pg %}
                            <li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
                        {% else %}
                            <li><a href="?page={{ pg }}">{{ pg }}</a><li>
                        {% endif %}
                        {% endfor %}
                        {% if students.has_next %}
                            <li><a href="?page={{ students.next_page_number }}"> Next </a> </li>
                        {% endif %}
                    </div> 
                    </div>

                    </div>
                    
                </div>
            </div> 
            

            <!-- Blank End -->


            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            &copy; <a href="#">Provisional Result</a>, All Right Reserved. 
                        </div>
                        <div class="col-12 col-sm-6 text-center text-sm-end">
                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            Designed By <a href="#">Khalas Yash</a>
                            <br>Distributed By: <a href="#" target="_blank">Mita Kanzariya & Henil Shah</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- {% load static %}
    <link  href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <head> -->

    <!-- JavaScript Libraries -->
    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    {% load static %}
    <script src="{% static 'admin/lib/chart/chart.min.js' %}"></script>
    {% load static %}
    <script src="{% static 'admin/lib/easing/easing.min.js' %}"></script>
    {% load static %}
    <script src="{% static 'admin/lib/waypoints/waypoints.min.js' %}"></script>
    {% load static %}
    <script src="{% static 'admin/lib/owlcarousel/owl.carousel.min.js' %}"></script>
    {% load static %}
    <script src="{% static 'admin/lib/tempusdominus/js/moment.min.js' %}"></script>
    {% load static %}
    <script src="{% static 'admin/lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
    {% load static %}
    <script src="{% static 'admin/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

    <!-- Template Javascript -->
    {% load static %}
    <script src="{% static 'admin/js/main.js' %}"></script>
</body>

</html>